<html>
<head>
  <title>
    Instructions
  </title>
</head>
<body>
  <p align ="center"><h1>Instructions to run</h1></p><br><br>
  <ol>
    <li> Open Django Admin with given credentials.</li>
    <li> Select Player->Add Player and add all players names</li>
    <li> Go back and choose Team->Add Team and teams with team member details and team name.</li>
    <li> Go back and choose Game->Add Game to register all games between respective teams in the tournament.</li>
    <li> Go back and add Scores of all teams for a game.</li>
    <li> Go back and enter the winner of game for that game.</li>
    <li> After all information is saved, go back and see GAME STATS, TEAM STATS, LEADERBOARD.</li>
  </ol>
</body>
</html>
