{% if team_list %}
<html>
<head>
    <title> TEAM LIST </title>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->

  <!-- Navbar content -->
  <p align = "center"><font color="white"><h1>TEAMS</h1></font></p>
</nav>
<br>
	<ul>
	{% for team in team_list %}
		<li><a href="/teams/{{team.id}}/">{{team.Team_Name}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No teams found.</p>
{% endif %}
</body></html>
